* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#post-container {
    margin-top: 3rem;
}
#post-container .post{
    margin: 0 auto 2rem auto;
    padding: 1rem;
    max-width: 960px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header"
        "body";
    box-shadow: 0 5px 10px 0px rgba(100, 100, 100, 0.4);
    border-radius: 5px;
}
#post-container .post-header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    align-content: start;
    grid-template-areas:
        "title title"
        "author-icon author"
        "author-icon date";
}
#post-container .post-thumbnail{
    grid-area: thumbnail;
}
#post-container .post-title{
    grid-area: title;
}
#post-container .post-author{
    grid-area: author;
}
#post-container .post-author-icon{
    grid-area: author-icon;
    border-radius: 50%;
    width: 100px;
}
#post-container .post-date {
    grid-area: date;
}
#post-container .post-body {
    grid-area: body;
    padding-top: 1rem;
}
.post-body img {
    display: block;
}
#post-container #no-content {
    position: relative;
    text-align: center;
    margin-top: 10rem;
    color: rgb(100, 100, 100);
}
#post-area {
    width: 100%;
}
#post-area #page-nav {
    width: min-content;
    margin: auto;
}
#post-area #page-nav #page-nav-list {
    display: flex;
    list-style: none;
}
#post-area #page-nav #page-nav-list #page-nav-list-first {
    margin-right: 1rem;
}
#post-area #page-nav #page-nav-list #page-nav-list-last {
    margin-left: 1rem;
}