* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

a {
    text-decoration-line: none;
    color: rgb(0, 100, 238);
}
a:hover {
    text-decoration-line: underline;
}
a:visited {
    color: rgb(0, 100, 238);
}

#header {
    min-height: 5rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.4);
    padding: 1rem 2rem;
}
#title, #title a, #title a:hover, #page-title {
    color: rgb(70, 70, 70);
    text-decoration-line: none;
}
.js-and-json {
    color: rgb(220, 180, 0);
}
#title + span, #page-title + span {
    color: rgb(70, 70, 70);
    margin: 0 1rem;
}
#page-title + span {
    display: none;
}
#title-caption {
    color: rgb(150, 150,150);
    width: 100%;
}
#footer {
    background-color: dimgrey;
    height: 10rem;
}

button {
    box-sizing: content-box;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#languages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
#languages a {
    margin: 0 0.5rem 0 0.5rem;
}
#languages button {
    padding: 0.2em 0.5em;
    font-size: 1.5rem;
    height: 1.5em;
}

#post-container {
    margin-top: 3rem;
}
#post-container .post{
    margin: 0 auto 2rem auto;
    padding: 1rem;
    max-width: 960px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header"
        "body";
    box-shadow: 0 5px 10px 0px rgba(100, 100, 100, 0.4);
    border-radius: 5px;
}
#post-container .post-header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    align-content: start;
    grid-template-areas:
        "title title thumbnail"
        "author-icon author thumbnail"
        "author-icon date thumbnail"
        "read read thumbnail";
}
#post-container .post-thumbnail{
    grid-area: thumbnail;
    margin-left: 0.3rem;
}
#post-container .post-thumbnail img{
    max-width: 100%;
}
#post-container .post-title{
    grid-area: title;
}
#post-container .post-author{
    grid-area: author;
    margin-top: 0.5rem;
}
#post-container .post-author-icon{
    grid-area: author-icon;
    border-radius: 50%;
    width: 100px;
    margin: 0.5rem 0.5rem 0.5rem 0;
}
#post-container .post-date {
    grid-area: date;
}
#post-container .post-read-more {
    grid-area: read;
    font-size: 1.5rem;
} 
#post-container .post-body {
    grid-area: body;
    padding-top: 1rem;
    color: rgb(70, 70, 70);
}
.post-body img {
    display: block;
    max-width: 100%;
}
#post-container #no-content {
    position: relative;
    text-align: center;
    max-height: 70vh;
    padding: 5rem 0 5rem 0;
    color: rgb(100, 100, 100);
}
#post-area {
    width: 100%;
}
#post-area #page-nav {
    width: min-content;
    margin: auto auto 3rem auto;
}
#post-area #page-nav #page-nav-list {
    display: flex;
    list-style: none;
}
#post-area #page-nav #page-nav-list button {
    font-size: 1.9rem;
    width: 1.5em;
    height: 1.5em;
}
.current-page-button {
    background-color: rgb(100, 190, 255);
}
#post-area #page-nav #page-nav-list #page-nav-list-first {
    margin-right: 1rem;
}
#post-area #page-nav #page-nav-list #page-nav-list-last {
    margin-left: 1rem;
}
.go-back-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.5rem;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin-bottom: 3rem;
}
#footer {
    padding: 2rem;
    color: rgb(255, 255, 255);
}
#footer p {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
}
#footer p:first-child {
    margin: 0 0 0.5rem 0;
}

@media (max-width:1000px){
    #title {
        text-align: center;
        width: 100%;
    }
    #title + span {
        margin-left: auto;
    }
    #page-title {
        margin: 0;
    }
    #page-title + span {
        display: inline;
        margin-right: auto;
    }
    #post-container .post {
        max-width: 95%;
    }
}